*.py[cod]

.vscode/
instance/
venv/

zsda/__pycache__/
zsda/static/node_modules/
zsda/static/dist/
zsda/db.py
zsda/static/favicon.ico
zsda/static/stats.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
application.py
