@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// body {
//     position: relative;
//     min-height: 100vh;
//     background-color: $cyan-100;
// }

.custom-bg {
    background-color: $cyan-100;
}

footer {
    background-color: $cyan-800;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.zone-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
.zone {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 16px;
    line-height: 34px;
    height: 80px;
    width: 64px;
    // margin-right: -1px;
    // margin-top: -1px;
    padding: 0;
    text-align: center;
}

%zone-edge {
    position: absolute;
    background: #fff;
    border: 1px solid #999;
    // margin-bottom: -1px;
    // margin-right: -1px;
    height: 168px;
    width: 136px;
    clip-path: polygon(0 0, 0 168px, 40px 168px, 40px 48px, 136px 48px, 136px 0);
    font-size: 16px;
}

.zone-eleven {
    @extend %zone-edge;
}

.zone-twelve {
    @extend %zone-edge;
    left: 136px;
    transform: scale(-1, 1);

    .unskew {
        transform: scale(-1, 1);
    }
}

.zone-thirteen {
    @extend %zone-edge;
    top: 168px;
    transform: scale(1, -1);

    .unskew {
        transform: scale(1, -1);
    }
}

.zone-fourteen {
    @extend %zone-edge;
    top: 168px;
    left: 136px;
    transform: scale(-1, -1);

    .unskew {
        transform: scale(-1, -1);
    }
}

.full-zone {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 336px;
    width: 272px;
}

.inner-zone {
    position: absolute;
    top: 48px;
    left: 40px;
}