// Configuration
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Bootstrap Override Section

$primary: $blue-800;

$theme-colors: (
    "primary": $primary
);

// Layout & Components
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/tooltip';

// Helpers and Utlities
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';

// Custom classes

body {
    background-color: $gray-300;
}

.custom-bg {
    background-color: $cyan-100;
}

.zone-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
.zone {
    background: #fff;
    border: 1px solid #999;
    // float: left;
    font-size: 16px;
    line-height: 34px;
    height: 80px;
    width: 64px;
    // margin-right: -1px;
    // margin-top: -1px;
    padding: 0;
    text-align: center;
}

%zone-edge {
    position: absolute;
    background: #fff;
    border: 1px solid #999;
    // margin-bottom: -1px;
    // margin-right: -1px;
    height: 168px;
    width: 136px;
    clip-path: polygon(0 0, 0 168px, 40px 168px, 40px 48px, 136px 48px, 136px 0);
    font-size: 16px;
}

.zone-eleven {
    @extend %zone-edge;
}

.zone-twelve {
    @extend %zone-edge;
    left: 136px;
    transform: scale(-1, 1);

    .unskew {
        transform: scale(-1, 1);
    }
}

.zone-thirteen {
    @extend %zone-edge;
    top: 168px;
    transform: scale(1, -1);

    .unskew {
        transform: scale(1, -1);
    }
}

.zone-fourteen {
    @extend %zone-edge;
    top: 168px;
    left: 136px;
    transform: scale(-1, -1);

    .unskew {
        transform: scale(-1, -1);
    }
}

.full-zone {
    position: relative;
    background-color: white;
    // margin-bottom: 2rem;
    margin-top: 1rem;
    height: 336px;
    width: 272px;
}

.inner-zone {
    position: absolute;
    top: 48px;
    left: 40px;
}