{% extends 'base.html' %}

{% block title %}Baseball Home{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div id="search"></div>
    </div>
    <div class="row mt-5">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Planned Features</h6>
                <ul>
                    <li>Add filter for specific pitch types</li>
                    <li style="color: green;">Player Overview support for batters - Completed</li>
                    <li>Player Comparison</li>
                    <li>Pitcher-Batter Matchups</li>
                    <li>Postseason Statistics</li>
                    <li>Additional Seasons</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='dist/baseball_home.bundle.js') }}"></script>
{% endblock %}